.nav {
    border-bottom: 1px solid var(--text-secondary);
    padding: 1rem 12.5% 0.5rem 12.5%;
    
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.nav__list-item {
    font-size: 1rem;
}

.nav__list-item:first-child {
    font-size: 2.5rem;
}

.nav__list-item:nth-child(2) {
    border: 1px solid var(--text-secondary);
    
}

.nav__list-item:nth-child(2) input{
    border: 0;
    padding: 0.25rem;
}

.nav__list-item img {
    width: 2.5rem;
    height: auto;
    border-radius: 50%;
}

@media (max-width: 36rem) {
    .nav {
        padding: 1rem 3.5% 0.5rem 3.5%;
    }

    .nav__list-item:nth-child(2) {
        display: none;
    }
}