.post {
    border: 1px outset var(--border-post);
    background-color: var(--bg-surface);
    margin: 1rem 0;;
}

.post__header {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;

}

.post__userimg {
    width: 2.5rem;
    height: auto;
    margin-right: 0.5rem;
    background: var(--gradient-brand);
    border-radius: 50%;
    padding: 0.05rem;
}

.post__userinfo {
    display: flex;
    flex-direction: column;
}

.post__username {
    font-size: 1rem;
    font-weight: 700;
}

.post__location {
    font-size: 0.65rem;
    font-weight: 700;
}

.post__footer {
    padding: 1rem 0.5rem;
}

.post__actions {
    font-size: 1.45rem;
    display: flex;
    justify-content:space-between;
}

.post__comments-link {
    display: block;
}

.post__time {
    color: var(--text-secondary);
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.post__comments {
    margin: 0 auto;
    padding: 0.5rem;
    border-top: 1px solid var(--border-comments);
    display: flex;
    justify-content: space-between;
}

.post__comment-box {
    border: 0
}

.post__comment-button {
    color: var(--accent-teal-dark);
    font-weight: 550;
    margin-right: 0.5rem;
}