.side {
    flex: 0 0 22rem;
    align-self: flex-start;
    position: sticky;
    top: 5.25rem;

    padding: 0 1rem;
}

.side__title {
    font-size: 1.2rem;
}

.suggestions {
    display: flex;
    flex-direction: column;
    
}

.suggestion {
    display: flex;
    justify-content: space-between;

    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-bottom: 0.5rem;
}

.suggestion__user {
    display: flex;
}

.suggestion__image {
    width: 2.5rem;
    height: auto;
    margin-right: 0.55rem;
    background: var(--gradient-brand);
    border-radius: 50%;
    padding: 0.05rem;
}

.suggestion__info {
    display: flex;
    flex-direction: column;
}

.suggestion__name {
    font-size: 1rem;
    font-weight: 700;
}

.suggestion__relation {
    font-size: 0.8rem;
}

.suggestion__button {
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent-teal);
}

.side__footer {
    padding: 0.5rem;
    
}

.side__footer-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.side__footer-item {
    margin-right: 0.5rem;
    color: var(--text-secondary);
}

.side__footer-item:hover {
    color: var(--accent-hover);
}

.side__footer-copyright {
    font-size: 0.8rem;
    color: var(--text-secondary);
}

@media (max-width: 60rem) {
    .side {
        display: none;
    }
}