.feed {
    width: 60%;
}

.story {
    display: flex;
    flex-direction: row;
    border: 0.1vh solid rgb(223, 208, 208);
    padding: 1vh;
    background-color: white;
}

.story__img {
    margin-right: 3vh;
    background: linear-gradient( 45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    border-radius: 50%;
    padding: 0.3vh;
}

.story__img:last-child {
    margin-right: 0;
}